{% extends 'base.html' %}
{% load static %}

{% block title %}
Разместить объявление
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col" style="margin: 50px;">
      <div class="display-2">
        <span class="badge bg-primary">Сообщите миру об этом в этой форме</span>
      </div>
    </div>
  </div>
  <div class="container">
    <!-- enctype для отпрвки картинок -->
    <form method="post" enctype="multipart/form-data">
      <!-- отправка токена -->
      {% csrf_token %}
      <!-- отображение формы в тэгах p -->
      <!-- виды отображения .as_table .as_ul -->
      {{forms.as_p}}
      <div class="row mb-3 offset-sm-5">
        <div class="col">
          <button type="submit" class="btn btn-success">Принять</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
